<div 
  class="container"
  *ngIf="{
    questions: questions$ | async,
    activeQuestion: activeQuestion$ | async,
    score: score$ | async,
    finished: finished$ | async
  } as pageData"
>

  <div class="card has-s hadow has-text-centered">
    <div *ngIf="pageData.questions && pageData.questions.length > 0; else startTrivia">
      <div *ngIf="!pageData.finished && pageData.activeQuestion; else finishedTrivia">
        <h2 class="card-header">{{pageData.activeQuestion.question}}</h2>
        <div class="choices-list has-text-centered">
          <button 
            class="choice-item" 
            *ngFor="let choice of pageData.activeQuestion.choices" 
            (click)="dispatchAnswerActiveTriviaQuestion(choice)"
          >
            {{choice}}
          </button>
        </div>
      </div>
  
      <ng-template #finishedTrivia>
        <h2 class="card-header">You Scored</h2>
        <p class="score">
          {{pageData.score}} / <small>{{pageData.questions.length}}</small>
        </p>

        <table>
          <tbody>
            <tr *ngFor="let question of pageData.questions">
              <td>
                <p>{{question.question}}</p>
                <p class="question-answer">The answer was {{question.correctChoice}}</p>
              </td>
              <td colspan="1">
                {{question.answer === question.correctChoice ? '👌' : '❌'}}
              </td>
            </tr>
          </tbody>
        </table>

      </ng-template>
    </div>
  
    <ng-template #startTrivia>
      <h2 class="card-header">
        It's trivia time
      </h2>

      <button class="button" (click)="dispatchGetTriviaQuestions()">I'm ready!</button>
    </ng-template>

  </div>

</div>




